/* base styles */

body {
  font-family: helvetica;
  font-size: 18px;
}

header {
  height:350px;
  background-image: url(../imgs/things.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -450px;
  /*background-position: 0 -100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

h1 {
  color: white;
  text-align: center;
  font-size: 80px;
  padding: 10px;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 4px 4px #000;
}

div {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  top: 115px;
}

section {
  height: 200px;
  margin-top: 50px;
}

section h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 70px;
}

section p {
  font-size: 24px;
  text-align: center;
  padding-top: 35px;
}

.second-paragraph {
  font-size: 18px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 65px;
}

img {
  height: 450px;
  width: 350px;
}

section div {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 75px;

}
