/* base styles */
* {
  outline: 1px solid blue;
}

body {
  font-family: 'Roboto condensed';
}

main {
  width: 960px;
  margin: 0 auto;
  height: 400px;
  background-image: url(http://i.imgur.com/FMAri5w.png);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 380px -45px;
}

header {
  /*height: 400px;
  background-image: url(http://i.imgur.com/FMAri5w.png);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 380px -45px;*/
  /*width: 960px;
  margin: 0 auto;*/
}

header h1 {
  font-size: 86px;
  font-weight: bold;
  color: #555;
  text-shadow: 2px 2px black;
  text-align: center;
  position: absolute;
  margin: 175px 570px;
}

.header-image {
  position: relative;
}

